.about-me-flex {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 220px;
  align-items: center;
}

.pic-box {
  display: flex;
  justify-content: center;
}

.danna-pic {
  width: 450px;
}

.about-me-text {
  text-align: center;
  font-family: 'Source Sans Pro', Arial;
  font-size: 26px;
  color: #2E1114;
  margin-left: 5%;
  margin-right: 5%;
}

