.product-page-grid {
  display: grid;
  grid-template-columns: 350px 350px;
  column-gap: 35px;
  row-gap: 30px;
  justify-content: center;
  margin-top: 3%;
}

.midpage-product-bar {
  height: 100px;
  background-color: #64485C;
  margin-top: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1%;
}

.product-title {
  font-family: 'Source Sans Pro', Arial;
  font-size: 54px;
  color: #2E1114;
}

.product-container {
  border: none;
  margin: 0;
  background-color: #2E1114;
  border-style: solid;
  border-width: 6px;
  border-color: #2E1114;
  cursor: pointer;
}

.wide-product-pic {
  width: 100%;
  max-width: 100%;
  aspect-ratio: 9/12;
  margin: 0;
  object-fit: contain;
  padding-top: 4px;
}

.pricing-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  font-family: 'Source Sans Pro', Arial;
  font-size: 24px;
  color: #2E1114;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
}

.pricing-left-side,
.pricing-right-side {
  flex: 1;
}

.pricing-type {
  font-weight: bold;
  font-size: 26px;
  margin: 2%;
}

.pricing-additional-info {
  font-family: 'Source Sans Pro', Arial;
  font-size: 22px;
  color: #2E1114;
  text-align: center;
  line-height: 34px;
}

.gifts-info {
  font-family: 'Source Sans Pro', Arial;
  font-size: 36px;
  color: #2E1114;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

@media (max-width: 800px) {
  .ttreasures {
    font-size: 80px;
  }
  .main-text {
    font-size: 34px;
  }
  .product-page-grid {
    grid-template-columns: 350px;
  }

  .pricing-page {
    grid-template-columns: 1fr;
  }
}